@use 'colours';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem 1rem;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 5;

    transition: background-color 0.4s ease;
    nav {
        transition: .3s ease;
        overflow: hidden;
        z-index: 1;
    }
    .collapse-button, .close-button {
        display: none;
        position: absolute;
        right: 1rem;
        z-index: 2;
    }
}



header.scrolled {
    background-color: colours.$teal-color;
    opacity: .75;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    button, nav ul li a {
        color: colours.$white-color;
    }
    button:hover, nav ul li a:hover {
        color: colours.$grey-color;
    }
    button:active, nav ul li a:active {
        color: #b6b6b6;
    }
}

@media only screen and (max-width: 650px) {
    header {
        nav {
            backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
            background-color: rgba(28, 28, 28, 0.5); /* Optional: Add a semi-transparent background color for better contrast */ 
            position: absolute;
            top: 100%;
            left: 0;   
            height: 0;
            width: 100%;
            ul {
                display: block;
                li {
                    margin: 1.1rem 0;
                    padding-left: .5rem;
                }
            }
        }
        .collapse-button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav-open {
            height: 10rem;
            padding-right: 0;
        }
    }
    header.scrolled {
        nav {
            background-color: colours.$teal-color;
        }
    }
}