@use 'colours';

header {
    button{
        font-weight: bold;
        background-color: transparent;
        border: inherit;
        font-size: 1.6rem;
        z-index: 3;
        color: colours.$teal-color;
    }
    button:hover{
        cursor: pointer;
    }
    button:active{
    }
}