@use 'colours';

header {
    button{
        font-weight: bold;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        z-index: 3;
        color: colours.$teal-color;
        cursor: pointer;
    }

}