@use 'colours';
nav {
    padding-right: 1rem;
    ul {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        li {
            a {
                color: colours.$teal-color;
                padding: .3rem;
                display: flex;
                align-items: center;
                gap: .5rem;
                font-size: 1.2rem;
                text-decoration: none;
                font-weight: bold;
                svg{
                    width: 1.3rem;
                    height: auto;
                }
            }
        }
        li:hover a{
                color: colours.$grey-color;
        }
        li:active a{
                color: colours.$white-color;
        }
    }
}
